<html>
    <title>You win!</title>
    <body>
        <h1>You picked: <%= playerChoice %></h1><br>
        <h1>Server picked: <%= serverChoice %></h1><br>
        <h2>Player wins: <%= playerWins %></h2><br>
        <h2>Server wins: <%= serverWins %></h2><br>
        <br>
        <a href="127.0.0.1:8081/">Play again!</a>
    </body>
</html>